///
/// 텍스트가 길어질때, 박스 크기에 맞춰 텍스트틀 말줄임(...)으로 표시하는 믹스인
/// @group Helpers
/// @access public
/// @example scss - 사용법
///   .foo {
///     @include ellipsis();
///   }
/// @example css - CSS 아웃풋
///   .foo {
///     white-space: nowrap;
///     overflow: hidden;
///     text-overflow: ellipsis;
///   }
///

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

///
/// 박스 포지션 지정 믹스인
/// @group Helpers
/// @access public
/// @param {string} $position [absolute] - 포지션 ( fixed, absolute, static, relative )
/// @param {string} $top [auto] - top 값
/// @param {string} $right [auto] - right 값
/// @param {string} $bottom [auto] - bottom 값
/// @param {string} $left [auto] - left 값
/// @example scss - 사용법
///   .foo {
///     @include position($bottom: 10px, $right: 20px);
///   }
///   .bar {
///     @include position($position: fixed, $top: 0px, $left: 0px)
///   }
/// @example css - CSS 아웃풋
///   .foo {
///     position: absolute;
///     bottom: 10px;
///     right: 20px;
///   }
///   .bar {
///     position: fixed;
///     top: 0px;
///     left: 0px;
///   }
///
@mixin position(
  $position: absolute,
  $top: auto,
  $right: auto,
  $bottom: auto,
  $left: auto
) {
  position: $position;
  top: $top;
  bottom: $bottom;
  left: $left;
  right: $right;
}

///
/// Flex 박스 정렬 믹스인
/// @group Helpers
/// @access public
/// @param {string} $direction [row] - 정렬 방향
/// @param {string} $align [center] - 세로 정렬
/// @param {string} $justify [flex-start] - 가로 정렬
/// @example scss - 사용법
///   .foo {
///     @include flex();
///   }
///   .bar {
///     @include flex($direction: column)
///   }
///   .zoo {
///     @include flex($align: center, $jusify: center)
///   }
/// @example css - CSS 아웃풋
///   .foo {
///     display: flex;
///     display-direction: row;
///     flex-wrap: wrap;
///     align-items: center;
///     justify-content: flex-start
///   }
///   .bar {
///     display: flex;
///     display-direction: column;
///     flex-wrap: wrap;
///     align-items: flex-start;
///     justify-content: center;
///   }
///   .zoo {
///     display: flex;
///     display-direction: row;
///     flex-wrap: wrap;
///     align-items: center;
///     justify-content: center;
///   }
///
@mixin flex($direction: row, $align: center, $justify: flex-start) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: $direction;
  @if ($direction == row) {
    align-items: $align;
    justify-content: $justify;
  }
  @if ($direction == column) {
    align-items: $justify;
    justify-content: $align;
  }
}
